:root{
   --inputsPart: #ff7192;
   --questionsPart: lightskyblue;
   /* --inputsPart: #FDDB27FF;
   --questionsPart: #00B1D2FF; */
}


body{
   margin: 0;
   font-family: 'Montserrat', sans-serif;
   overflow-x: hidden;+
}

.top-container {
   width: 100vw;
   height: 100vh;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.inputs-part {
   background: var(--inputsPart);
   text-align: center;
}

.logo{
   font-size: 3rem;
   color: rgb(56, 56, 56);
}

.form{
   height: 77%;

}

.input{
   display: block;
   margin: 3rem auto;
   background: var(--inputsPart);
   border: none;
   outline: none;
   border-bottom: 3px solid rgb(255, 255, 255);
   text-align: center;
   font-size: 1.4rem;
   padding-bottom: .5rem;
}

.que-input{
   width: 70%;
}

.options-input-grid{
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
   
}

.options-input-grid > * {
   margin: 3rem auto;
   background: var(--inputsPart);
   border: none;
   outline: none;
   border-bottom: 3px solid white;
   text-align: center;
   font-size: 1.4rem;
   padding-bottom: .5rem;
}

.dropdown {
   float: left;
   width: 100%;
   margin: 0 auto;
}

.label{
   font-size: 1.5rem;
   font-weight: bold;
}

#corectAnswer {
   width: 7rem;
   height: 3rem;
   background: white;
   border: none;
   outline: none;
   text-align: center;
   font-size: 1.1rem;
   margin-right: 1.5rem;
   border-radius: 4px;
   box-shadow: 2px 2px 0px 2px rgb(56, 56, 56);
}

.submit{
   width: 13rem;
   height: 3rem;
   background: rgb(56, 56, 56);
   color: white;
   border: none;
   outline: none;
   font-size: 1.4rem;
   border-radius: 4px;
   box-shadow: 2px 2px 0px 2px rgb(255, 255, 255);
}
.submit:hover{
   cursor: pointer;
}
.submit:active{
   transform: translateX(3px);
   transform: translateY(3px);
   box-shadow: none;
}



/* questions card section */
.questions-part {
   background: var(--questionsPart);
}

.generate-quiz-container{
   text-align: center;
   margin-top: 2rem;
}

.generate-quiz{
   height: 3rem;
   width: 13rem;
   background: rgb(56, 56, 56);
   color: white;
   border: none;
   outline: none;
   font-size: 1.4rem;
   border-radius: 4px;
   box-shadow: 2px 2px 0px 2px rgb(255, 255, 255);
   
}
.generate-quiz:hover{
   cursor: pointer;
}
.generate-quiz:active{
   transform: translateX(3px);
   transform: translateY(3px);
   box-shadow: none;
}

.que-card{
   min-height: 10rem;
   width: 75%;
   background: white;
   margin: 3rem auto;
   padding: .5rem 0 .5rem 3rem;
   box-shadow: 4px 4px 0px 2px rgba(0,0,0,1);
   font-weight: 500;
   border-radius: 4px;
}

@media only screen and (max-width: 700px) {
   .top-container {
      height: auto;
      grid-template-columns: 1fr;
   }

   .inputs-part {
      padding-bottom: 4.5rem;
   }

   .options-input-grid{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      
   }

   .label, #corectAnswer{
      margin-bottom: 4rem;
   }

   .que-card{
      width: 76%;
      padding: .2rem 0 .2rem 1.2rem;
      margin: 2rem auto;
   }
} 


